<div class="nx-sidebar">

    <div class="nx-sidebar-header">

        <nx-brand></nx-brand>

    </div>

    <div class="nx-sidebar-nav">

        <div class="nx-sidebar-section">
            GENERAL
        </div>

        <ul class="nav nav-pills nx-nav">

            <li class="nav-item">
                <a href="/app/#!/" class="nav-link nx-nav-link" ng-class="{ 'nx-nav-link-active': $ctrl.active === 'home' }">
                    <i class="fa-solid fa-chart-line nx-nav-link-icon"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/app/#!/projects" class="nav-link nx-nav-link" ng-class="{ 'nx-nav-link-active': $ctrl.active === 'projects' }">
                    <i class="fa-solid fa-cube nx-nav-link-icon"></i>
                    <span>Projects</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/app/#!/pipelines" class="nav-link nx-nav-link" ng-class="{ 'nx-nav-link-active': $ctrl.active === 'pipelines' }">
                    <i class="fa-solid fa-code-branch nx-nav-link-icon"></i>
                    <span>Pipelines</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/app/#!/builds" class="nav-link nx-nav-link" ng-class="{ 'nx-nav-link-active': $ctrl.active === 'builds' }">
                    <i class="fa-solid fa-hammer nx-nav-link-icon"></i>
                    <span>Builds</span>
                </a>
            </li>

        </ul>

    </div>

</div>