
<aside class="sidebar">

    <div class="sidebar__brand">

        <div class="sidebar__brand-icon">

            <i class="fa fa-layer-group"></i>

        </div>

        <div class="sidebar__brand-content">

            <span class="sidebar__name">
                Nexus
            </span>

            <span class="sidebar__mute">
                CI/CD Platform
            </span>

        </div>

    </div>

    <nav class="sidebar__nav">

        <nx-sidebar-item
                icon="fa fa-chart-line"
                label="Dashboard"
                href="/app/#!/"
                active="$ctrl.page === 'home'">
        </nx-sidebar-item>

        <nx-sidebar-item
                icon="fa fa-cube"
                label="Projects"
                href="/app/#!/projects"
                active="$ctrl.active === 'projects'">
        </nx-sidebar-item>

        <nx-sidebar-item
                icon="fa fa-stream"
                label="Pipelines"
                href="/app/#!/pipelines"
                active="$ctrl.active === 'pipelines'">
        </nx-sidebar-item>

        <nx-sidebar-item
                icon="fa fa-hammer"
                label="Builds"
                href="/app/#!/builds"
                active="$ctrl.active === 'builds'">
        </nx-sidebar-item>

    </nav>

</aside>