
.sidebar-item {
    display: flex;
    align-items: center;
    gap: var(--gap-3);

    padding: var(--padding-3) var(--padding-4);

    border-radius: var(--radius-2);

    color: var(--color-light);
    text-decoration: none;

    font-family: var(--font-family);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-3);
}

.sidebar-item:hover {
    background: var(--color-light);
    color: var(--color-primary);
}

.sidebar-item--active {
    background: var(--color-light);
    color: var(--color-primary);
}

